body{
    
    
    background-color: grey;
    color: #D6D6D6;;
}
.tdashhead{
    
    padding: 10px;
    margin: 0;
    width: 100%;
}
.topdash{
    background-color: #01021e;
    width: 100%;
    text-align: center;
    margin-left: 40%;
   
}

.displayCountries{
    float: left;
    
   
}
.displayC{
    float: right;
}
.headingCountry{
    color: #BDBDBD;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    background: #001319;
    padding: 10px;
    border:1px solid black;
    box-shadow: 0 0 5px 3px #01021e
}
#totalval{
    font-size: 40px;
    color: red;
    text-align: center;
    background: #001319;
    line-height: 60px;
   
}

.countryList{
    background: #001319;
    border:1px solid #001319;
    box-shadow: 0 0 5px 3px #01021e;
}
.headingCList{
    color:white;
    font-size: 20px;
    text-align: center;
    padding: 10%;
    line-height: 40px;
    font-family: Arial, Helvetica, sans-serif;

}
.greeting{
    width: 50%;
    margin-left: 40%;;
    font-size: 40px;
    color: black;
    
}
label{
    padding: 10px;
}
.countryVal{
    color: red;
    font-weight: bold;
}
.f{
    width: 100%;
    background-color: black;
}
.deathedit{
    font-size: 10px;
    padding-top: 10px;
}
.rightBackround{
    background-color: black;
}
.pichartHead{
    font-size: 20px;
}




